<div class="login-page">
    <div class="login-card">

        <!-- 🔴 BACKEND ERROR -->
        @if (error$ | async; as error) {
        @if (error) {
        <div class="error-message">
            <span class="error-icon">⚠️</span>
            <span class="error-text-msg">{{ error }}</span>
        </div>
        }
        }

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <h2>Sign In</h2>

            <!-- USERNAME -->
            <div class="form-group">
                <input type="text" formControlName="username" placeholder="Username or Email" />

                @if ((username?.touched || submitted) && username?.invalid) {
                <small class="error-text">
                    @if (username?.errors?.['required']) { Username is required }
                    @if (username?.errors?.['minlength']) { Minimum 3 characters required }
                    @if (username?.errors?.['maxlength']) { Maximum 20 characters allowed }
                    @if (username?.errors?.['pattern']) { Only letters, numbers, dot and underscore allowed }
                </small>
                }
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Password" />

                @if ((password?.touched || submitted) && password?.invalid) {
                <small class="error-text">
                    @if (password?.errors?.['required']) { Password is required }
                    @if (password?.errors?.['pattern']) {
                    Password must be 6–20 chars with uppercase, lowercase, number, special character
                    }
                </small>
                }
            </div>

            <button type="submit" class="login-btn">
                Sign In
            </button>

        </form>

    </div>
</div>