<div class="login-page">
  <div class="login-card">
    <!-- ✅ ERROR MESSAGE -->
    @if (error$ | async; as error) {
      @if (error) {
        <div class="error-message">
          <span class="error-icon">⚠️</span>
          <span class="error-text-msg">{{ error }}</span>
        </div>
      }
    }

    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Log In</h2>

      <!-- EMAIL -->
      <div class="form-group">
        <input
          type="email"
          formControlName="email"
          placeholder="Email"
          [disabled]="(loading$ | async) || false"
        />

        @if ((email?.touched || submitted) && email?.invalid) {
          <small class="error-text">
            @if (email?.errors?.['required']) {
              Email is required
            }
            @if (email?.errors?.['email']) {
              Please enter a valid email
            }
          </small>
        }
      </div>

      <!-- PASSWORD -->
      <div class="form-group">
        <input
          type="password"
          formControlName="password"
          placeholder="Password"
          [disabled]="(loading$ | async) || false"
        />

        @if ((password?.touched || submitted) && password?.invalid) {
          <small class="error-text">
            @if (password?.errors?.['required']) {
              Password is required
            }
            @if (password?.errors?.['minlength']) {
              Password must be at least 6 characters
            }
          </small>
        }
      </div>

      <button type="submit" class="login-btn" [disabled]="(loading$ | async) || false">
        @if (loading$ | async) {
          <span>Signing in...</span>
        } @else {
          <span>Sign In</span>
        }
      </button>
    </form>
    <button type="button" class="login-btn" [disabled]="(loading$ | async) || false">
      <a [routerLink]="['/register']"> Register </a>
    </button>
    <button
      type="button"
      class="login-btn"
      (click)="loginWithGithub()"
      [disabled]="(loading$ | async) || false"
    >
      Login with Github
    </button>
    <button
      type="button"
      class="login-btn"
      (click)="loginWithGoogle()"
      [disabled]="(loading$ | async) || false"
    >
      Login with Google
    </button>
  </div>
</div>
