<footer class="footer">
    <div class="container footer-container">

        <div class="footer-section">
            <h3>Shopzy</h3>
            <p>Your one-stop shop for everything.</p>
        </div>

        <div class="footer-section">
            <h4>Quick Links</h4>
            <a routerLink="/products">Products</a>
            <a routerLink="/cart">Cart</a>
            <a routerLink="/auth/login">Login</a>
        </div>

        <div class="footer-section">
            <h4>Contact</h4>
            <p>Email: getHelp@shopzy.com</p>
            <p>Phone: +91  9960766476</p>
        </div>

    </div>

    <div class="footer-bottom">
        © 2026 Shopzy. All rights reserved.
    </div>
</footer>